.container{
    padding:20px;
    margin:0 auto;
    width:85%;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

.header{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    color:hsl(0, 0%, 60%);
   
}

.nav__left{
    display: flex;
    justify-content: center;
    font-size: 1em;
    justify-content: space-evenly;
}
.nav__left >div{
    padding-top: 12px;
}

.nav__left >ul {
    display:flex;
    gap:2rem;
}

.nav__left >ul >li{
    list-style-type: none;
}

.nav__left >ul >li:hover{
    color:black;
    cursor:pointer;
}
.nav__right {
    font-size: 1em;
}
.nav__right >ul{

    display:flex;
    gap:2rem;
}

.nav__right > ul >li{
    list-style-type: none;
}
.nav__right >ul >li:hover{
    color:black;
    cursor:pointer;
}

.signUp__box{
    border-radius:20px;
    padding:5px 10px 5px 10px;
    background-color:hsl(180, 66%, 49%);
    color:white !important;
}

.signUp__box:hover{
    background-color:#008b8b;
}

.hero{
    display:flex;
    justify-content: center;
}

.hero__left{
    padding-top:4em;
    padding-bottom: 2em;
}

.hero__left > h1{
    font-size:3rem;
    width:70%;
    color:hsl(255, 11%, 22%);
    font-weight:600;
    margin-bottom: -7px;
    line-height:100%;
}
.hero__left > p{
    font-size:1rem;
    width:75%;
    color:hsl(0, 0%, 60%);
}

.hero__left > button{
    border-style: none;
    background-color:hsl(180, 66%, 49%) ;
    padding:0.5rem;
    font-size: 1rem;
    border-radius:20px;
    color:white;
    
}

.main__outer{
    background-color:  hsl(257, 27%, 26%);
    height:5rem;
    padding-top:1rem;
    border-radius: 5px;
}

.main__outer > form{
    display:flex;
    justify-content: center;
    width:70%;
    margin:0 auto;
    gap:0.5rem;
    
    
    
}
.main__outer >form >input{
    width:75%;
    height:3rem;
    font-size: 18px;
    padding-left:10px;
    border-radius: 10px;
    border-style: none;
}
.main__outer > form >button {
    width:25%;
    font-size:18px;
    border-radius: 10px;
    border-style: none;
    background-color:hsl(180, 66%, 49%) ;
    color:white;
}
.middle__top > h1{
    padding-top:1em;
    line-height: 2em;
    text-align:center;
    margin-bottom: -7px;
    color:hsl(255, 11%, 22%);
}

.middle__top > p{
    text-align:center;
    width:50%;
    margin:0 auto;
    color:hsl(0, 0%, 60%);
    padding-bottom:3rem;
}

.middle__bottom__card{
    display:flex;
    justify-content: space-between;
    gap:4px;
}

.card__body{
    background-color: white;
    width:30%;
    padding:1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card__body > p{
    color:hsl(0, 0%, 60%);
}

.bottom{
    background-color:hsl(257, 27%, 26%);
    text-align: center;
}

.bottom > h2{
    color:white;
    padding-top:1rem;
   
    
}

.bottom > button{
    color:white;
    border-radius: 20px;
    background-color:hwb(180 16% 19%) ;
    border-style: none;
    width:15%;
    padding:5px;
    font-size: 1em;
    margin-bottom: 1rem;
}

.bottom > button:hover{
    background-color:#008b8b;
    cursor: pointer;
}

.footer{
    display:flex;
    padding-top:20px;
    background-color: hsl(255, 11%, 22%);
    justify-content: space-evenly;
    align-items: center;
    color:white;
    
}

.footer__logo > Image{
    width:78px;
    height:32px;
    cursor: pointer;
    
}
.footer__features > h4{
   margin-bottom: -10px;
   cursor: pointer;
}

.footer__features > ul>li
{
    margin-left:-40px;
    list-style-type: none;
    font-size: 0.9rem; 
    cursor: pointer;
}

.footer__resources > h4{
    margin-bottom: -10px;
    cursor: pointer;
 }
 
 .footer__resources > ul>li
 {
     margin-left:-40px;
     list-style-type: none;
     font-size: 0.9rem; 
     cursor: pointer;
 }

 .footer__company > h4{
    margin-bottom: -10px;
    cursor: pointer;
 }
 
 .footer__company > ul>li
 {
     margin-left:-40px;
     list-style-type: none;
     font-size: 0.9rem; 
     cursor: pointer;
 }
 
.footer__icons{
    display:flex;
    gap:10px;
    cursor: pointer;
}

@media only screen and (max-width: 560px){
    .header{
       display:none;
    }
   .hero{
    display:flex;
    flex-direction: column;
   }

   .main__outer {
    width:75vw;
    height:20vh;
   }

   
   .main__outer > form{
    display:flex;
    flex-direction: column;
   align-items: center;
   
   }

   .main__outer > form > input{
    width:50vw;
   }

   .main__outer > form > button{
    justify-self: center;
    width:25vw;
   }

   .middle__bottom__card{
    display: flex;
    flex-direction: column;
    gap:10px;
   }
   .card__body{
    width:75vw;
   }

   .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .bottom > button{
    width: 20vw;
   }

   .footer{
    display: flex;
    flex-direction: column;
   }
}